* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-header: #8e9aaf;
  --bg-main: #eff1ff;
  --bg-title: #cbc0d3;
  --bg-h2: #feeafa;

  --primary-color: #ffffff;
  --secondary-color: #4a4e69;
  --color-P: #23053a;

  --ff-body: 'Staatliches', cursive;
  --ff-main: 'Palanquin', sans-serif;
}

body {
  font-size: 1.6rem;
}

.page {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

header {
  background: var(--bg-header);
  height: 27.9rem;
  padding: 3.2rem 0 0;
  animation: topDown 700ms;
}

header h1 {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 0.8rem 0;

  background: var(--bg-title);
  color: var(--primary-color);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 1.2rem;
}

.textContent {
  display: flex;
  justify-content: center;
  
  background: var(--bg-main);
  padding: 1.4rem 0 6.3rem;
  animation: downTop 700ms;
}

.textContent p {
  width: 31rem;

  font-family: var(--ff-main);
  font-size: 2rem;
  line-height: 1.5rem;

  color: var(--color-P);
}

main {
  background: var(--bg-main);
  display: grid;
  justify-content: center;
  gap: 3.2rem;
  animation: downTop 700ms;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: relative;
}

.card1 img,
.card3 img,
.card5 img {
  width: 32rem;
  height: 25rem;
  border-radius: 2rem;
  object-fit: cover;
}

.card2 img,
.card4 img,
.card6 img {
  width: 32rem;
  height: 45rem;
  border-radius: 2rem;
  object-fit: cover;
}

.card1 h2,
.card2 h2,
.card3 h2,
.card4 h2,
.card5 h2,
.card6 h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background: var(--bg-h2);
  border-radius: 2rem;
  width: 11.2rem;
  animation: topDown 700ms;

  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: var(--secondary-color);
}

.card1 img:hover,
.card2 img:hover,
.card3 img:hover,
.card4 img:hover,
.card5 img:hover,
.card6 img:hover {
  transform: scale(1.1);
  transition: 250ms;
  opacity: 0.7;
}

footer {
  display: none;
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
